body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#play-field {
  border: 5px solid #808080;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

.cell {
  border: 5px solid #808080;
  position: relative;
}

.cell:hover {
  background: #d8d8d8;
}

.cell--disable {
  pointer-events: none;
  border: 5px solid #808080;
  position: relative;
}

.cell--win {
  background-color: #00ff00;
}

.cell--x::before,
.cell--x::after {
  background: red;
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  transform: rotate(45deg);
  top: calc(50% - 5px);
  animation: pulse 0.5s;
}

.cell--x::after {
  transform: rotate(-45deg);
}

.cell--o::before {
  content: "";
  height: 60%;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 50%;
  border: 10px solid #0031ff;
  box-sizing: border-box;
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
